@use '../abstracts/variables' as var;


h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.text-light {
  color: var.$lgt;
}

a {
  color: var.$primary;
  transition: var.$transition;

  &:hover {
    color: var.$wht;
  }
}

.small {
  font-size: 0.83em
}

.large {
  font-size: 2em;
}