@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$font: 'Poppins', sans-serif;

$bg-dark: #1F1F38;
$bg-medium: #2C2C6C;
$bg-light: #4646A8;

$primary: #4DB5FF;
$secondary: rgba(77, 181, 255, 0.4);
$alternate: #006AB5;

$wht: #FFFFFF;
$lgt: rgba(255, 255, 255, 0.6);

$large: 75%;
$medium: 86%;
$small: 90%;

$transition: all 400ms ease;