@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.footer {
  &__container {
    background-color: var.$bg-medium;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;

    & a {
      color: var.$primary;
      font-weight: bold;
    }
  }

  &__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    color: var.$wht;
  }

  &__copyright {
    margin-bottom: 4rem;
    color: var.$primary;
  }
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;

  @include mix.sm-screens {
    flex-direction: column;
    gap: 1.5rem;
  }
}