@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.footer {
  &__container {
    background-color: var.$bg-medium;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;

    & a {
      color: var.$primary;
      font-weight: bold;
    }
  }

  &__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    color: var.$wht;
  }

  &__socials {
    display: flex;
    justify-content: center;
    flex-wrap: 1rem;
    gap: 0.5rem;
    margin-bottom: 4rem;

    @include mix.sm-screens {
      margin-bottom: 2.6rem;
    }
  
    & a {
      background-color: var.$bg-dark;
      color: var.$wht;
      padding: 0.8rem;
      border-radius: 0.7rem;
      display: flex;
      border: 1px solid transparent;
  
      &:hover {
        background: transparent;
        color: var.$wht;
        border-color: var.$primary;
      }
    }
  }

  &__copyright {
    margin-bottom: 4rem;
    color: var.$primary;
  }
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;

  @include mix.sm-screens {
    flex-direction: column;
    gap: 1.5rem;
  }
}